In [32]:
import pandas as pd

#read df
df = pd.read_csv("../../data/raw/davis_pesticides_2001-22.csv")
# sort by county month value 
df = df.sort_values(by=['YEAR', 'MONTH', 'COUNTY']).reset_index(drop=True)
# fix naming convention
df = df.rename(columns=lambda x: x.title().strip())

# Pivot the DataFrame
pivoted_df = df.pivot_table(
    index=['Year', 'Month', 'County'],  # These will identify unique rows
    columns='Chemname',                 # Each chemical becomes a column
    values=['Lbs_Chm_Used', 'Area_Planted', 'Applications'],  # Values to spread across new chemical columns
    fill_value=0  # Fill NaN values with 0
).reset_index()

# Flatten the multi-level column names
pivoted_df.columns = [f'{col[0]}_{col[1]}' if col[1] else col[0] for col in pivoted_df.columns]

pivoted_df.head()

,Year,Month,County,"Applications_(3S,6R)-3-METHYL-6-ISOPROPENYL-9-DECEN-1-YL ACETATE","Applications_(3S,6S)-3-METHYL-6-ISOPROPENYL-9-DECEN-1-YL ACETATE",Applications_(E)-4-TRIDECEN-1-YL-ACETATE,Applications_(E)-5-DECEN-1-OL,Applications_(E)-5-DECENYL ACETATE,"Applications_(E,E)-8,10-DODECADIEN-1-OL","Applications_(E,E)-9, 11-TETRADECADIEN-1-YL ACETATE",...,Lbs_Chm_Used_ZETA-CYPERMETHRIN,Lbs_Chm_Used_ZINC,Lbs_Chm_Used_ZINC 2-PYRIDINETHIOL-1-OXIDE,Lbs_Chm_Used_ZINC CHLORIDE,Lbs_Chm_Used_ZINC NAPHTHENATE,Lbs_Chm_Used_ZINC OXIDE,Lbs_Chm_Used_ZINC PHOSPHIDE,Lbs_Chm_Used_ZINEB,Lbs_Chm_Used_ZIRAM,Lbs_Chm_Used_ZOXAMIDE
0,2001.0,1.0,ALAMEDA,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0236,0.0,0.00,0.0
1,2001.0,1.0,ALPINE,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0000,0.0,0.00,0.0
2,2001.0,1.0,AMADOR,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0375,0.0,0.00,0.0
3,2001.0,1.0,BUTTE,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0000,0.0,127.68,0.0
4,2001.0,1.0,CALAVERAS,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0000,0.0,0.00,0.0

In [33]:
df.head()

,Year,Chemname,County,Month,Lbs_Chm_Used,Area_Planted,Applications
0,2001.0,NORFLURAZON,ALAMEDA,1.0,88.818000,NaN,NaN
1,2001.0,DELTAMETHRIN,ALAMEDA,1.0,12.095784,NaN,946.0
2,2001.0,"TRICLOPYR, TRIETHYLAMINE SALT",ALAMEDA,1.0,11.223520,NaN,59.0
3,2001.0,"PETROLEUM OIL, SULFURIZED",ALAMEDA,1.0,44.256985,NaN,51.0
4,2001.0,"TRICLOPYR, BUTOXYETHYL ESTER",ALAMEDA,1.0,330.591095,NaN,1154.0

In [37]:
len(df['Chemname'].unique())

1238